.splash-container{
    background-color: $fill;
    z-index: 1;
    overflow: hidden;
    min-width: $minimum-width;
    min-height: 410px;
    max-height: 550px;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 55%;
    top: 0;
    left: 0;
    position: fixed !important;

    background-image: url('/build/img/mountains-compressed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    .splash {
        /* absolute center .splash within .splash-container */
        width: 80%;
        height: 45%;
        margin: auto;
        position: absolute;
        top: 150px; left: 0; bottom: 0; right: 0;
        text-align: center;
        text-transform: uppercase;

        @include respond-to( desktop ){
            width: 50%;
            height: 50%;
        }

        .splash-head {
            font-size: 20px;
            font-weight: bold;
            color: $text;
            border: 3px solid $text;
            padding: 1em;
            font-weight: 100;
            border-radius: 5px;
            line-height: 1em;

            @include respond-to( tall ){
                font-size: 250%;
            }
        }

        .splash-subhead {
            color: $text;
            letter-spacing: 0.05em;
            opacity: 0.8;

            margin-bottom: .87em;
        }
    }
}
