.splash-container{
    background-color: $fill;
    overflow: hidden;
    min-width: $minimum-width;

    background-image: url('/build/img/mountains-compressed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    .splash {
        width: 80%;
        height: 45%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;

        @include respond-to( desktop ){
            width: 50%;
            height: 50%;
        }

        .splash-head {
            font-size: 20px;
            font-weight: bold;
            color: $text;
            border: 3px solid $text;
            padding: 1em;
            font-weight: 100;
            border-radius: 5px;
            line-height: 1em;

            @include respond-to( "tall and tablet" ){
                font-size: 250%;
            }
        }

        .content{
            padding: 1em;
        }

        .splash-subhead {
            color: $text;
            letter-spacing: 0.05em;
            opacity: 0.8;

            margin-bottom: .87em;
        }
    }
}
