article{
    padding-top: ($breathing-room / 2 );
    margin: auto;

    width: 100%;
    max-width: $article-reading-width;
    min-width: $mobile;

    background-color: $standard-background;

    > *{
        padding-left: $breathing-room;
        padding-right: $breathing-room;
    }

    header{
        padding: $breathing-room;

        h1, h2, h3, h4, h5{
            @extend .tl;

            margin-bottom: 0.25em;

            a{
                text-decoration: none;
                color: $reading;
            }
        }

        hr{
            @extend .fl;
            width: 100%;
        }

        li{
            margin-top: ($breathing-room / 4 );

            a{
                text-decoration: underline;
            }
        }

        a{
            color: $link-color-active;
        }

        time{
            margin-top: $breathing-room;
        }
    }

    div.body{
        padding-top: $breathing-room;
        padding-bottom: $breathing-room;

        color: $reading;

        font-size: $reading-font-size;

        p{
            line-height: $reading-line-height;
            font-size: $reading-font-size - 0.4;

            + p{
                margin-top: (2 * $breathing-room);
            }
        }

        figure{
            + p:not(:first-of-type){
                margin-top: (2 * $breathing-room);
            }
        }
    }

    div.comments{
        button{
            @extend .center;
            display: block;
        }
    }
}
