body > footer{
    @extend .tc;

    font-size: 1em;
    color: $primary-dark;

    height: 8em;

    background-color: $secondary;

    #social-buttons{
        margin-top: 1em;

        font-size: 2em;
    }
}
