.footer{
    // @extend .tc;
    //
    // font-size: 1em;
    // color: $secondary-dark;

    height: 8em;

    border-top: $standard-border solid $secondary;

    #social-buttons{
        margin-top: 1em;

        color: $primary;

        font-size: 2em;
    }
}
