.footer{
    color: $text;

    height: 8em;

    border-top: $standard-border solid $secondary;

    #social-buttons{
        margin-top: 1em;

        color: scale-color( $primary, $lightness: 50% );

        font-size: 2em;
    }
}
