.grid {
    margin: 0 0 $grid-padding 0;

    &:after {
        @extend .clear;
    }
}

[class*='col-'] {
    @extend .fl;
    padding-right: $grid-padding;
    .grid &:last-of-type {
        padding-right: 0;
    }
}

@for $i from 1 through 10{
    .col-#{$i}-10{
        width: percentage( $i / 10 );

        &:not(.step){
            @include respond-to( medium-only ){
                @if $i > 5{
                    width: 100%;
                }
                @else{
                    width: 50%;
                }
            }

            @include respond-to( small ){
                width: 100%;
            }
        }
    }
}

@for $i from 1 through $columns{
    .col-#{$i}-#{$columns}{
        width: percentage( $i / $columns );

        &:not(.step){
            @include respond-to( medium-only ){
                @if $i > 6{
                    width: 100%;
                }
                @else{
                    width: 50%;
                }
            }

            @include respond-to( small ){
                width: 100%;
            }
        }
    }
}

/* Opt-in outside padding */
.grid-pad {
    padding: $grid-padding 0 $grid-padding $grid-padding;
    [class*='col-']{
        &:last-of-type{
            padding-right: $grid-padding;
        }

        &:only-of-type{
            @include respond-to( small ){
                padding-right: 0;
            }
        }
    }

    > div[class*='col-']:only-of-type{
        padding-right: $grid-padding;
    }
}
