.grid {
    margin: 0 0 $grid-padding 0;

    &.no-marg{
        margin: 0;
    }

    &:after {
        @extend .clear;
    }
}

[class*='col-'] {
    @extend .fl;
    @extend .tc;

    padding-right: 0;

    @include respond-to( small ){
        text-align: left;

        padding-right: $grid-padding;

        .grid &:last-of-type {
            padding-right: 0;
        }
    }
}

@for $i from 1 through 10{
    .col-#{$i}-10{
        width: 100%;

        @include respond-to( small ){
            width: percentage( $i / 10 );
        }
    }
}

@for $i from 1 through $columns{
    .col-#{$i}-#{$columns}{
        width: 100%;

        @include respond-to( small ){
            width: percentage( $i / $columns );
        }
    }
}

/* Opt-in outside padding */
.grid-pad {
    padding: $grid-padding 0 $grid-padding $grid-padding;
    [class*='col-']{
        &:last-of-type{
            padding-right: $grid-padding;
        }

        &:only-of-type{
            @include respond-to( small ){
                padding-right: 0;
            }
        }
    }

    > div[class*='col-']:only-of-type{
        padding-right: $grid-padding;
    }
}
