body > header{
    @extend .clear;
    @extend .tc;

    font-size: 2.5em;
    color: $text-on-dark;

    padding: 0.25em;

    background-color: $theme-dark;

    img{
        width: 6em;
    }
}

section{
    @for $i from 1 through 6 {
        > h#{$i} {
            @extend .tl;

            margin-bottom: 1em;
            padding: 0.5em;

            border-bottom: $standard-border solid $color-struts;
        }
    }
}
