body > header{
    @extend .clear;
    @extend .tc;

    color: $text-on-dark;

    padding: 0.25em;
    margin-bottom: 0;
    position: block;

    background-color: $primary;

    height: 5em;

    .logo{
        @extend .fl;

        height: 100%;

        img{
            margin: -20% 0 0 -20%;
            height: 200%;
        }
    }

    @include respond-to( small ){
        background-color: rgba( $primary, 0.4 );
        
        height: 7em;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

section{
    @for $i from 1 through 6 {
        > h#{$i} {
            @extend .tl;

            margin-bottom: 1em;
            padding: 0.5em;

            border-bottom: $standard-border solid $color-struts;
        }
    }
}
