ol,
ul{
    margin: ($breathing-room / 2) $breathing-room;
    line-height: 1.2em;
}

ol{
    article &{
        list-style-type: decimal-leading-zero;
        list-style-position: inside;
    }
}

ul{
    article &{
        list-style-type: circle;
        list-style-position: inside;
    }
}

li{
    article &{
        font-family: inherit;
    }
}
