blockquote{
    article &{
        @extend .tc;
        @extend .clear;

        margin: $breathing-room;
        padding: $breathing-room;

        background-color: $subtle-color-background;

        font-size: (1.5 * $reading-font-size);
        line-height: 1em;

        span.author{
            @extend .tr;
            @extend .fr;

            font-size: .5em;

            &:before{
                content: "- "
            }
        }
    }
}
