section + section{
    margin-top: $breathing-room;
}

section{
    &.slider{
        background-color: $primary-dark;

        color: $primary;

        li{
            height: 30em;

            padding: $standard-padding;

            &:nth-child( even ){
                background-color: $secondary-dark;

                color: $primary-dark;
            }
        }
    }
}
