hr{
    background-color: $struts;
    height: 1px;
    border: 0;
    margin: 1em auto;
}

div.hr{
    background-image: linear-gradient(
        to right,
        $standard, $struts, $standard
    );

    height: 1px;

    &.bump{
        margin-top: $breathing-room;
    }

    &.push{
        margin-bottom: $breathing-room;
    }
}
