.toggle{
    line-height: 100%;

    label{
        vertical-align: top;
        line-height: 2em;
    }

    span{
        &.fa-toggle-on,
        &.fa-toggle-off{
            cursor: pointer;
        }

        &.fa-toggle-on{
            color: $okay;
        }
    }
}

.saver{
    @extend .iblock;

    margin-left: 0.75em;

    .fa-check{
        color: $okay;
    }

    .fa-cross{
        color: $error;
    }
}
