.hide{
    display: none;
}

.iblock{
    display: inline-block;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    .col{
        flex: 1;
    }
}
