.center{
    margin: auto;
}

.bump{
    margin-top: $breathing-room;
}

.auto-width{
    width: auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.nf{
    float: none;
}

.rpad{
    padding-right: 1em;
}

.lpad{
    padding-left: 1em;
}

.tpad{
    padding-top: 1em;
}

.bpad{
    padding-bottom: 1em;
}
