// Theme Colors
$primary:           rgba( 128, 0, 0, 1.0 );
$secondary:         rgba( 83, 0, 0, 1.0 );
$primary-blank:     rgba( 255, 255, 255, 1.0 ); // discrete from $text/$bg to allow theme changes
$primary-dark:      rgba( 145, 146, 143, 1.0 );
$secondary-dark:    rgba( 51, 51, 51, 1.0 );

$text:  #FFFFFF;
$bg:    #FFFFFF;

$fill:  #3b3b3b;
$introductory-text: $primary;
