$text:          #232323;
$text-on-dark:  #FEFEFE;
$standard:      #FFFFFF;

// Other text
$inactive-color:    #9B9B9B;

$standard-background:       $standard;
$subtle-background:         #F5F5F5;
$subtle-color-background:   #E5E5FF;

$light-border:      #DDDDDD;
$less-light-border: #DBDBDB;
$struts:            #CCCCCC;
$accentuate-struts: #EFEFEF;
$color-struts:      #CCCCFF;

$button-text:           #ACD0E5;
$button-active-text:    #2A6496;
$menu-text:             #F0F0F0;
$dark-text:             #6B787F;

$link-underline-color:  $text;
$link-color:            $text;
$link-color-active:     $button-active-text;

$subtle:                    darken( $standard, 10 );
$subtle-error:              #FFCFCF;
$dark:                      darken( $standard, 20 );

$error:     #F54C4C;
$okay:      #90EE90;
$warning:   #FFEAA8;
$info:      #57B7E2;
$clean:     #FFEAA8;

// Theme Colors
$primary:           rgba( 83, 0, 0, 1.0 );
$secondary:         rgba( 128, 0, 0, 1.0 );
$primary-blank:     rgba( 255, 255, 255, 1.0 ); // discrete from $standard to allow theme changes
$primary-dark:      rgba( 145, 146, 143, 1.0 );
$secondary-dark:    rgba( 51, 51, 51, 1.0 );
